body{
    margin: 0;
    padding: 0;
    width: 100%;
}

@font-face{
    font-family: 'Cereal-Bold';
    src: url(../fonts/AirbnbCereal_W_Bd.otf);
}

@font-face{
    font-family: 'Cereal-Black';
    src: url(../fonts/AirbnbCereal_W_Blk.otf);
}

@font-face{    
    font-family: 'Cereal-Light';
    src: url(../fonts/AirbnbCereal_W_Lt.otf);
}

@font-face{
    font-family: 'Cereal-Medium';
    src: url(../fonts/AirbnbCereal_W_Md.otf);
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58px;
    background-color: #222222;
}

.infos_covid:hover{
    color: #8d8c8c;
}

.infos_covid{
    font-family: 'Cereal-Light';
    color: #a3a3a3;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inicio{
    display: flex;
    flex-direction: column;
    background-image: url(../images/ddc7f01f-3fb3-483c-87e6-701dad52c930.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 792px;
    
}

.pesquisar_inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_lugares_user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    flex: 1;
}

.logo_airbnb{
    display: flex;
    width: 118px;
    height: 64px;
    margin-left: 160px;
    cursor: pointer;
}

.lugares p:hover{
    color: #6B716F;
}

.lugares{
    display: flex;
    justify-content: space-around;
    width: 427px;
    font-family: 'Cereal-Light';
    color: black;
    cursor: pointer;
}

.language_user_inicio{
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    margin-right: 160px;
    align-items: center;
    flex: 1;
}

.language_user_inicio p{
    margin: 0px;
}

.seja_anfitriao{
    font-family: 'Cereal-Light';
    margin-right: 5px;
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    color: #222222;
    cursor: pointer;
    border-radius: 50px;
}

.seja_anfitriao:hover{
    background-color: #F7F7F7;
}

.icon_language_inicio{
    margin-right: 5px;
    padding: 14px;
    cursor: pointer;
    border-radius: 100%;
}

.icon_language_inicio:hover{
    background-color: #F7F7F7;
}

.user_inicio{
    padding-right: 5px;
    padding-top: 7px;
    padding-left: 12px;
    padding-bottom: 3px;
    background-color: white;
    border: 1px solid #D9D2CE;
    border-radius: 50px;
}

.icon_bars_inicio{
    height: 30px;
    width: 16px;
    margin-right: 9px;
    cursor: pointer;
}

.icon_user_inicio{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.pesquisar_lugares{
    display: flex;
    align-items: center;
    width: 850px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    border-radius: 50px;
}

.pesquisar_localizacao p{
    margin: 0;
}

.pesquisar_localizacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    width: 203.984px;
    height: 37px;
    padding: 14px 32px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.pesquisar_localizacao:hover{
    background-color: #EBEBEB;
}

textarea:focus, input:focus, select:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.search_lugar{
    font-size: 14px;
    font-family: 'Cereal-Light';
    color: #727272;
    border: 0px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.p_titulo{
    font-size: 12px;
    font-family: 'Cereal-Light';
    font-weight: 600;
    padding-bottom: 2px;
    color: black;
    letter-spacing: 0.04em !important;
}

.p_subtitulo{
    font-size: 14px;
    font-family: 'Cereal-Light';
    color: #727272;
}

.separador{
    width: 1px;
    height: 31px;
    background-color: #DDDDDD;
}

.pesquisar_checkin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    width: 130.156px;
    height: 37px;
    padding: 14px 24px;
    cursor: pointer;
    border-radius: 50px;
}

.pesquisar_checkin p{
    margin: 0;
}

.pesquisar_checkin:hover{
    background-color: #EBEBEB;
}

.pesquisar_checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    width: 130.156px;
    height: 37px;
    padding: 14px 24px;
    cursor: pointer;
    border-radius: 50px;
}

.pesquisar_checkout p{
    margin: 0;
}

.pesquisar_checkout:hover{
    background-color: #EBEBEB;
}

.hospedes_button_pesquisar{
    display: flex;
    align-items: center;
    width: 222px;
    background-color: #FFFFFF;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-radius: 50px;
}

.hospedes_button_pesquisar:hover{
    background-color: #EBEBEB;
}

.pesquisar_hospedes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 121.719px;
    height: 37px;
    padding: 14px 24px;
    cursor: pointer;
}

.pesquisar_hospedes p{
    margin: 0;
}

.button_pesquisar{
    height: 48px;
    width: 48px;
    border: 0px;
    background-color: #FF385C;
    border-radius: 100%;
    margin-right: 9px;
    cursor: pointer;
}

.icon_search{
    width: 16px;
    height: 16px;
}

.slogan_airbnb{
    width: 416px;
    height: 198px;
    margin-top: 153px;
    margin-left: 154px;
}

.slogan_airbnb p{
    margin: 0px;
}

.titulo_slogan{
    font-size: 60px;
    font-family: 'Cereal-Bold';
    line-height: 55px;
}

.subtitulo_slogan{
    font-family: 'Cereal-Light';
    font-size: 20px;
    padding-top: 13px;
    padding-bottom: 16px;
}

.button_slogan{
    font-family: 'Cereal-Light';
    font-size: 14px;
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.destinos{
    padding: 100px 115px;
}

.destinos_pertos{
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.destinos_pertos p{
    margin: 0px;
}

.titulo_destinos_pertos{
    font-size: 43px;
    font-family: 'Cereal-Bold';
}

.sugestoes_destinos_pertos{
    display: flex;
    padding-top: 25px;
}

.cidade_perto{
    display: flex;
    align-items: center;
    flex: 1;
}

.infos_cidade{
    display: flex;
    flex-direction: column;
}

.imagem_cidade{
    background-color: black;
    width: 92px;
    min-width: 92px;
    height: 92px;
    margin-right: 25px;
    border-radius: 15px;
    cursor: pointer;
}

.nome_cidade_perto{
    font-family: 'Cereal-Bold';
    font-size: 20px;
    cursor: pointer;
}

.tempo_cidade_perto{
    font-family: 'Cereal-Light';
    font-size: 20px;
    cursor: pointer;
}

.more_qualquer_lugar{
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.more_qualquer_lugar p{
    margin: 0px;
}

.titulo_more_qualquer_lugar{
    font-size: 43px;
    font-family: 'Cereal-Bold';
    padding-bottom: 35px;
}

.sugestoes_more_qualquer_lugar{
    display: flex;
}

.sugestao{
    display: flex;
    flex-direction: column;
    flex: 13;
}

.separador_sugestao{
    width: 1px;
    flex: 1;
}

.imagem_qualquer_lugar{
    height: 400px;
    background-color: red;
    border-radius: 15px;
    cursor: pointer;
}

.titudo_qualquer_lugar{
    font-family: 'Cereal-Light';
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}

.banner_comece_hospedar{
    display: flex;
    flex-direction: column;
    height: 400px;
    border-radius: 15px;
    background-color: black;
    padding-top: 80px;
    padding-left: 80px;
    padding-top: 75px;
    margin-bottom: 100px;
}

.banner_comece_hospedar p{
    margin: 0px;
}

.comece_hospedar{
    font-family: 'Cereal-Bold';
    font-size: 60px;
    color: white;
    line-height: 70px;
}

.descubra_comece_hospedar{
    font-family: 'Cereal-Light';
    font-size: 20px;
    padding-top: 13px;
    padding-bottom: 16px;
    color: white;
}

.button_saiba_mais_comece_hospedar{
    font-family: 'Cereal-Light';
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: white;
    padding: 18px 16px;
    width: 130px;
    border: 0px;
    border-radius: 10px;
    margin-top: 45px;
    cursor: pointer;
}

.descubra_experiencias p{
    margin: 0px;
}

.titulo_descubra_experiencias{
    font-size: 35px;
    font-family: 'Cereal-Bold';
}

.subtitulo_descubra_experiencias{
    font-size: 25px;
    font-family: 'Cereal-Light';
    padding-bottom: 25px;
}

.sugestoes_descubra_experiencias{
    display: flex;
}

.sugestao_experiencias{
    display: flex;
    flex-direction: column;
    flex: 25;
}

.imagem_sugestao_experiencias{
    height: 385px;
    background-color: blue;
    border-radius: 15px;
    cursor: pointer;
}

.titudo_sugestao_experiencias{
    font-size: 18px;
    font-family: 'Cereal-Light';
    font-weight: 700;
    padding-top: 10px;
    cursor: pointer;
}

.subtitudo_sugestao_experiencias{
    font-size: 13.5px;
    font-family: 'Cereal-Light';
    padding-top: 5px;
    cursor: pointer;
}

.rodape{
    height: 545px;
    background-color: #F7F7F7;
    border-top: 1px solid #DDDDDD;
    padding-left: 80px;
    padding-right: 80px;
}

.rodape_parte_1{
    padding-top: 52px;
    padding-bottom: 52px;
    display: flex;
    height: 475px;
}

.sumario_rodape{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sumario_infos_rodape{
    display: flex;
    flex-direction: column;
}

.sumario_infos_rodape p{
    margin: 0px;
}

.titulo_sumario_infos_rodape{
    font-size: 12px;
    font-family: 'Cereal-Light';
    font-weight: 800;
}

.subtitulo_sumario_infos_rodape{
    font-size: 14px;
    font-family: 'Cereal-Light';
    cursor: pointer;
    padding-top: 28px;
}

.subtitulo_sumario_infos_rodape:hover{
    text-decoration: underline;
}

.rodape_parte_2{
    display: flex;
    height: 70px;
    border-top: 1px solid #DDDDDD;
    font-size: 14px;
    font-family: 'Cereal-Light';
    align-items: center;
    width: 100%;
}

.rodape_parte_2 p{
    margin: 0px;
}

.infos_site{
    display: flex;
    flex: 8;
}

.titulo_infos_site{
    cursor: pointer;
}

.titulo_infos_site:hover{
    text-decoration: underline;
    color: rgb(43, 43, 43);
}

.separador_infos_site{
    padding-left: 10px;
    padding-right: 10px;
}

.idioma_moeda_rodape{
    display: flex;
    flex: 3;
    justify-content: center;
}

.idioma_rodape{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.idioma_rodape:hover{
    color: #484848;
}

.titulo_idioma_rodape{
    text-decoration: underline;
    cursor: pointer;
}

.icon_idioma_rodape{
    margin-right: 10px;
    cursor: pointer;
}

.moeda_rodape{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.moeda_rodape:hover{
    color: #484848;
}

.titulo_moeda_rodape{
    text-decoration: underline;
    cursor: pointer;
}

.icon_moeda_rodape{
    margin-right: 10px;
    cursor: pointer;
}

.redes_sociais_rodape{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    flex: 1;
}

.icon_redes_sociais_rodape{
    cursor: pointer;
} 

.icon_redes_sociais_rodape:hover{
    color: #484848;
}